body {
    text-align: center;
    background: url(images/brisbane.webp);
    background-size: cover;
    background-position: center;
    color: rgb(224, 172, 172);
    font-family: helvetica;
  }

  p {
    font-size: 22px;
}
